$default-color-dark: #00695C;


$green: #00c853 !default;
$purple-base: #9c27b0 !default;

$primary-color: $green;
$primary: $green;
$secondary-color: $purple-base;
$secondary: $purple-base;

$link-color: #4caf50;

$image-path: "/assets/img";